# Terraform local state
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# Sensitive files
terraform.tfvars
*.pem
*.key
*.pub

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

*.tfstate
*.tfstate.*
terraform.tfvars